1

In [3]:
def fact (num):
  fact=1
  for i in range(1,num+1):
      fact=fact*i
  return fact

print(fact (5))

120

2

In [11]:
def relations(name):
    relation={'Darth Vader':'father','Lela':'sister','Han':'brother in law','R2D2':'droid'}
    return relation[name]

print("Luke, I am your "+relations('Darth Vader'))

Luke, I am your father

3

In [13]:
def digits(num):
    temp=num
    count=0
    while(temp>0):
        x=temp%10
        count+=1
        temp=temp//10
        
    return count

print(digits(13082000))

8

4

In [18]:
def fact (num):
  fact=1
  for i in range(1,num+1):
      fact=fact*i
  return fact

def fact2(num):
    temp=num
    ans=1
    while(temp>0):
        newfact=fact(temp)
        ans=ans*newfact
        temp=temp-1
    return ans

print(fact2(3))

12

5

In [21]:
def arguments(*argv):
    result=0
    for num in argv:
        
        temp=num**2
        result=result+temp
    return result

print(arguments(5,6,7,8))

174

6

In [24]:
def valid_operation(num1,num2,op):
    if(op not in ['+','-','*','/']):
        return 
    else:
        if(op=='+'):
            return num1+num2
        elif(op=='-'):
            return num1-num2
        elif(op=='*'):
            return num1*num2
        elif(op=='/'):
            return num1/num2

print(valid_operation(10,5,'/'))
print(valid_operation(10,5,'//'))
print(valid_operation(10,5,'+'))
print(valid_operation(2,3,'^'))

2.0
None
15
None

7

In [27]:
def repeated_words(num):
    temp=num
    a=0
    while(temp>0):
        if(a==0):
            print("I CAN",end=' ')
            a=1
        else:
            print("I WILL",end=' ')
            a=0
        temp-=1

repeated_words(3)

I CAN I WILL I CAN

8

In [35]:
def pair_of_gloves (l1):
    l1.sort()
    i=0
    count=0
    flag=True
    while(i<len(l1)-1):
        #print(l1[i+1])
        if(l1[i+1]-l1[i]==0):
            count+=1
            i+=2
            
        else:
            i+=1
    return count

    

print(pair_of_gloves([1,2,1,2,1,3,2,4]))

2

9

In [33]:
lst1 = [7, 4, 5, 1]
lst2 = [2, 1, 6]
final_lst = lst1+lst2

def duplicate_checking(l):
    return sorted(l) == list(range(min(l), max(l)+1))

print(duplicate_checking(final_lst))

False

10

In [29]:

def total(product):
    total=int((product ['sell_price']-product ['cost_price'])*product ['inventory'])
    return total

print(total({
    'cost_price':32.67,
    'sell_price':45.00,
    'inventory':1200
}))

14795